@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;700&display=swap');
$default-font: "Public Sans", sans-serif;

$font-sm: 0.875rem;
$font-md: 1.125rem;
$font-lg: 1.25rem;
$font-xl: 2rem;

@mixin font__style {
    font-family: $default-font;
    font-size: $font-md;
    font-weight: 400;
}