@use "../global" as *;
.hero__section {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../dist/images/banner.png);
    height: 90vh;
    @include font__style;
    color: $primary-color;

    &__hero__box {
        border: 3px solid $primary-color;
        width: 80%;
        margin-bottom: 1rem;
        padding: 1rem;
        margin: 1rem;

        @include breakpoint-up(md) {
            width: 35%;
        }

        & h1{
            margin: 0;
            font-size: 2rem;

            @include breakpoint-up(md) {
                font-size: 2.3rem;
            }
        }

        & p {
            font-size: 1.2rem;

            @include breakpoint-up(md) {
                font-size: 1.5rem;
            }
        }
    }
    & img {
        width: 12rem;
        border-radius: 50%;
    }
}


.header {
    &.has-open {
        
        .header__nav__hamburger {
            > span {
                &:first-child {
                    transform: rotate(45deg); 
                  }
            
                  &:nth-child(2) {
                      visibility: hidden;
                  }
            
                  &:last-child {
                      transform: rotate(-45deg);
                  }
            }
        }
    }



    .overlay {
        opacity: 0;
        position: absolute;
        background-color: rgba(56, 56, 56, 0.7);
        background-image: linear-gradient(to bottom, rgba(100, 197, 241, 0.6), rgba(11, 51, 78, 0.7));
        right: 0px;
        bottom: 0px;
        left: 0px;
        top: 90%;
        height: 100vh;

        &.fade-in, &.fade-out {
            display: block;
        }
    }
    
    &__nav {
        padding: 0.625rem 3.75rem;
        background-color: $light-dark;
        position: relative;
        z-index: 10;
        &__logo {
            height: 35px;
        }

        &__hamburger {
            > span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: $primary-color;
                transition: $transition-300;
                transform-origin: $transform-origin;

                &:not(:last-child) {
                    margin-bottom: 5px;
                }

            }

        }

        &__links {
            > a {
                color: $primary-color;
                @include font__style;
                
                &:not(:last-child) {
                    margin-right: 1.25rem;
                }
                
                &:hover {
                    color: $link-hover;
                }
            }
        }
    }

    &__mobile-navigation {
        height: 0;
        position: relative;
        background-color: $primary-color;
        width: 90%;
        left: -95%;
       
        &.show-navigation, .hide-navigation {
            display: block;
        }
        

        > a {
            text-align: center;
            display: block;
            color: $light-dark;
            @include font__style;
            font-size: $font-lg;
            padding: 0.65rem;

            &:nth-child(1) {
                padding-top: 1.3rem;
            }

            &:last-child {
                padding-bottom: 1.3rem;
            }

            &:hover {
                color: $link-hover;
            }
        }
    }
}


